extends layout

block content
  h1 Bridge The Gap
  p.lead A Single Stop for Students and Employers
  hr
  p Add a Video
        form(action='/add-course', method='POST')  
          input(type='hidden', name='_csrf', value=_csrf)
          .form-group
            label(for='pwd') Title:
            input#pwd.form-control(type='input', name='title')
          .form-group
              label(for='video-code') Video Code:
              textarea#video-code.form-control(rows="5", name='code')
          button.btn.btn-default(type='submit') Submit
    
    
        
