extends layout

block content
  h1 Bridge The Gap
  p.lead A Single Stop for Students and Employers
  hr
  if user && user.role == 'student'
    h1.display-4 Happy Learning!
  if user && user.role == 'employer'
    h1.display-4 Teach and Pick!
  if !user
    h1.display-4 Welcome to Bridge the Gap!
  
