extends layout

block content
  h1 Bridge The Gap
  p.lead A Single Stop for Students and Employers
  hr
  .pb-2.mt-2.mb-4.border-bottom
        h3 Files
        each file in files
            div=file

            
    
    
        
